[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pillow = "*"
numpy = "*"
pose-clip = {file = ".", editable = true}
einops = "*"
opencv-python = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
